<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <meta name="viewport" content="width=device-width, initial-scale=1" http-equiv="X-UA-Conpatible"/>
    <title>Project list</title>
</h:head>
<h:body>
    <h:form>
        <table width="100%" cellpadding="0" cellspacing="0" border="0">
            <tr>
                <td width="160" nowrap="nowrap" style="text-align: center">
                    <h3>TASK-MANAGER</h3>
                </td>
                <td width="100%">
                    <p:menubar>
                        <p:submenu label="Project" icon="pi pi-pencil">
                            <p:menuitem value="New" action="pretty:projectAdd" icon="pi pi-briefcase"/>
                            <p:menuitem value="List" action="pretty:projectList" icon="pi pi-briefcase"/>
                            <p:menuitem value="Clear" action="#{projectController.clear()}" icon="pi pi-times"/>
                        </p:submenu>
                        <p:submenu label="Task" icon="pi pi-pencil">
                            <p:menuitem value="New" action="pretty:taskAdd" icon="pi pi-briefcase"/>
                            <p:menuitem value="List" action="pretty:taskList" icon="pi pi-briefcase"/>
                            <p:menuitem value="Clear" action="#{taskController.clear()}" icon="pi pi-times"/>
                        </p:submenu>
                        <f:facet name="options">
                            <p:commandButton type="button" value="Logout" icon="pi pi-home"/>
                        </f:facet>
                    </p:menubar>
                </td>
            </tr>
        </table>
    </h:form>
    <br/>

    <p:dataTable var="project" value="${projectController.list()}"
                 class="table table-striped table-hover table-bordered tableUpdated">
        <p:column headerText="№" style="width: 5%; text-align: center">
            <h:outputText value="#{rowIndex + 1}"/>
        </p:column>

        <p:column headerText="Project name">
            <h:outputText value="#{project.name}"/>
        </p:column>

        <p:column headerText="Project description">
            <h:outputText value="#{project.description}"/>
        </p:column>

        <p:column headerText="Status" style="width: 15%; text-align: center">
            <h:outputText value="#{project.readinessStatus}"/>
        </p:column>

        <p:column headerText="View" style="width: 5%; text-align: center">
            <h:form>
                <h:link value="VIEW" outcome="projectView" includeViewParams="true">
                    <f:param value="#{project.id}" name="id"/>
                </h:link>
            </h:form>
        </p:column>

        <p:column headerText="Edit" style="width: 5%; text-align: center">
            <h:form>
                <h:link value="EDIT" outcome="projectEdit" includeViewParams="true">
                    <f:param value="#{project.id}" name="id"/>
                </h:link>
            </h:form>
        </p:column>

        <p:column headerText="Remove" style="width: 5%; text-align: center">
            <h:form>
                <h:commandLink action="#{projectController.delete(project)}">REMOVE</h:commandLink>
            </h:form>
        </p:column>

    </p:dataTable>
</h:body>
</html>